@inherits LayoutComponentBase


    <div class="vh-100" style="background: url('images/bg11.jpg') 50% 0 no-repeat fixed; background-size:cover; width:100%;  height:100%;">

        <div class="content" style="z-index:1">
            @Body
        </div>
    </div>
