@layout LoginLayOut
@page "/"
@inject NavigationManager NavigationManager
<div class="flex-container">
    <div class="col-sm-5 col-12 mx-auto position-static">
        <div class="p-5 bg-white shadow-lg bg">
            <EditForm Model="deviceRegistration" OnValidSubmit="HandleSubmit">
                <h5 class="text-center set-Font">Server Registration</h5>
                <label id="lblUserName" for="txtUserName" class="font-500 set-Font">User Name</label>
                <InputText id="txtUserName"
                           tabindex="1"
                           class="form-control mb-2 TextBoxBorder"
                           placeholder="Enter User Name"
                           style="border-radius:20px; border: 1px solid#2b3990;"
                @bind-Value="deviceRegistration.Username"
                @onkeypress="@keydown">
                </InputText>
                <label id="lblServerIpAddress" for="txtServerIPAddress" class="font-500 set-Font">Server IP Address</label>
                <InputText id="txtServerIPAddress"
                           tabindex="2"
                           class="form-control mb-2"
                           placeholder="Enter Server IP Address"
                           style="border-radius:20px; border: 1px solid#2b3990;"
                @bind-Value="deviceRegistration.ServerIPAddress"
                @onkeypress="@keydown">
                </InputText>
                <label id="lblRegistrationDate" for="txtRegistrationDate" class="font-500 set-Font">Registration Date</label>
                <input id="txtRegistrationDate"
                       class="form-control mb-3 TextBoxBorder"
                       readonly
                       type="text"
                       value="@DateTime.Now.ToString("dd/MM/yyyy")" />
                <button name="btnSubmit"
                        tabindex="3"
                        type="submit"
                        class="btn btn-primary w-100 shadow-lg mt-2 btnBorder"
                @onclick="JumpToLoginPage">
                    Register
                </button>
                <div class="text-center pt-4 set-Font">Copyright : Perfect Software Solution Pvt. Ltd.</div>
            </EditForm>
        </div>
    </div>
</div>