@layout LoginLayOut
@page "/Login"
@using PSS.Hotel.Client.LOV;
@inject NavigationManager NavigationManager
@inject IEmployeeMasterService EmployeeMasterService

@*<link rel="stylesheet" href="https://cdn.lineicons.com/2.0/LineIcons.css">
*@
@*<div class="demo-container ">*@
<div class="container">
    <div class="col-lg-5 mx-auto my-auto">
        <div class="text-center image-size-small position-relative">
            <img src="/images/MK.jpg" class="rounded-circle p-4">           
        </div>
        <div class="p-4" style=" background:url('images/bg3.jpg') 50% 0 no-repeat fixed; background-size:cover; height:100%; width:100%; border-radius:40px; border: 1px solid#2b3990;">
            <h4 class="mb-2 text-center pt-5">Bagga International</h4>

            <EditForm Model="employeeMaster" OnSubmit="HandleSubmit">

                <label class="font-500">User</label>
                <InputSelect @bind-Value="employeeMaster.Empno" class="form-select mb-2" Placeholder="Select Employee Name" style="border-radius:20px; border: 1px solid#2b3990;">

                    @foreach (var emp in EmployeeMasterService.Employees)
                    {
                        <option value="@emp.Empno">@emp.AliasName</option>
                    }
                </InputSelect>

                <label for="Password">Password</label>
                <InputText id="password" @bind-Value="employeeMaster.Password" type="password" class="form-control mb-2" placeholder="Password" style="border-radius:20px; border: 1px solid#2b3990;"></InputText>

                <label for="Sections">Section</label>
                <RadzenDropDown @bind-Value="value" Data="@sections" TextProperty="Key" ValueProperty="Value" class="form-select mb-4" Placeholder="Select Section" style="border-radius:20px; border: 1px solid#2b3990;" />

                <RadzenStack AlignItems="AlignItems.Center">
                    <p class="align-self-center py-0 AlignItem">Transaction Date : @DateTime.Now.ToString("dd/MM/yyyy") </p>
                </RadzenStack>
                <button class="btn btn-primary btn-lg w-100 shadow-lg" @onclick="JumpToDashboard" style="border-radius:20px;">SIGN IN</button>

                <p class="mb-0 text-center pt-2" style="font-family:'Times New Roman', Times, serif; font-weight:bolder">Copyright : Perfect Software Solution Pvt. Ltd.</p>
            </EditForm>        
        </div>
    </div>
</div>
@*</div>*@

@code {

    string? value;
    List<LovSection> sections = new List<LovSection>()
        {
            new LovSection{Id = 1, Key="Kitchen", Value="Kitchen"},
            new LovSection{Id = 2, Key="Waiter",  Value="Waiter"}
        };

    EmployeeMaster employeeMaster = new EmployeeMaster();



    void JumpToDashboard()
    {
        NavigationManager.NavigateTo("/Index");
    }

    protected override async Task OnInitializedAsync()
    {
        await EmployeeMasterService.GetAll();
    }

    void HandleSubmit()
    {

    }
}                      