
<div class="Header-Background">
    <div class="Header-Title">
        <h5>@Title</h5>
    </div>
@* 
    <div class="Header-Elements m-1">
        <select class="form-select">
            <option>Small</option>
            <option>Large</option>
        </select>
    </div> *@

    <div class="Header-Elements m-1">
        <select class="form-select" @onchange="NavigateToPage">
            <option>Select Status</option>
            <option value="/Index">Home</option>
            <option value="/KOTPendingTables">Table Status</option>
            <option value="/ItemwiseTables">Item-Wise Status</option>
            <option value="/SupervisorScreen">KOT-Wise Status</option>
            <option value="">Section-Wise Status</option>
        </select>
    </div>
</div>


@code {

    [Parameter]
    public string? Title { get; set; }

    [Inject]
    private NavigationManager? NavigationManager { get; set; }




    private void NavigateToPage(ChangeEventArgs e)
    {
        string? selectedValue = e.Value?.ToString();
        if (!string.IsNullOrEmpty(selectedValue))
        {
            string url = selectedValue;
            NavigationManager?.NavigateTo(url);
        }
    }
}
