<div style="position:static;top:50%; background-color:#A7D397; height:46px " class="p-1">
    <div style="display:inline-block; margin:1px" class="text-lg-start mt-2 mx-2">
        <h5 style="color:black;">@Title</h5>
    </div>

     <div style="display:inline-block; color:black; float:right;" class="mt-2 ">
        <h6>Cancel KOT</h6>
    </div>

    <div style="display:inline-block; float:right; margin:1px">
        <select class="form-select" Style="width: auto; max-width: 400px; border:solid 1px">
            <option>Small</option>
            <option>Large</option>
        </select>
    </div>

    <div style="display:inline-block; float:right;  margin:1px">
        @*         <RadzenDropDown @bind-Value="value" Data="@orderType" TextProperty="Key" ValueProperty="Value" Style="width: auto; max-width: 400px;" />
        *@
        <select class="form-select" Style="width: auto; max-width: 400px; border:1px solid">
            <option>Item-wise</option>
            <option>KOT-wise</option>
        </select>

    </div>

  
   

</div>

<div class="p-0 text-xl-center" style="background-color:#FFE7A0; height:28px">
    
    <span  style="border:1px dotted blue;float:right;margin:1px; padding:0px 2px 0px 2px ">Total Table:10</span>
    <span style="border:1px dotted blue;float:right;margin:1px; padding:0px 2px 0px 2px ">Pending KOT:10</span>
    <span style="border:1px dotted blue;float:right;margin:1px; padding:0px 2px 0px 2px ">Pending Items:10</span>
    <span style="border:1px dotted blue; float:right;margin:1px; padding:0px 2px 0px 2px ">Shifted Table</span>
</div>

@code {

    [Parameter]
    public string? Title { get; set; }



    string? value;

    List<LovOrderType> orderType = new List<LovOrderType>()
    {
        new LovOrderType{Id = 1, Key="Itemwise", Value="Itemwise"},
        new LovOrderType{Id = 2, Key="KOTwise", Value="KOTwise"}
     };
}
