<div class="Header-Background">
    <div class="Header-Title">
        <h5>@Title</h5>
    </div>

    <div class="Header-Elements">
        <h6>Cancel KOT</h6>
    </div>

    <div class="Header-Elements m-1">
        <select class="form-select">
            <option>Small</option>
            <option>Large</option>
        </select>
    </div>

    <div class="Header-Elements m-1">
        <select class="form-select">
            <option>Item-wise</option>
            <option>KOT-wise</option>
        </select>
    </div>
</div>


@code {

    [Parameter]
    public string? Title { get; set; }



    string? value;

    List<LovOrderType> orderType = new List<LovOrderType>()
    {
        new LovOrderType{Id = 1, Key="Itemwise", Value="Itemwise"},
        new LovOrderType{Id = 2, Key="KOTwise", Value="KOTwise"}
     };
}
